apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-ejqohplb
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-ejqohplb:255709fc88700b3a2d0582439138cb544c5117cf@sha256:d1b7d3ddd445d5b34db526f5796db6ea887fcab9fb40104cafea74490f8b6ef1
        name: container-image  
